@import "tailwindcss";

@theme {
  --color-main: #8338ec;
  --color-yellow: #f7bc30;
  --color-orange: #fb5607;
  --color-pink: #ff006e;
  --color-blue: #3a86ff;
}

body {
  font-family: "Firago", sans-serif;
  margin: 2rem 5rem 4rem 5rem;

}

button {
  cursor: pointer;
}
